<div class="container">
	
	<h1 class="name">Joshua Goucher</h1>
	<span class="tagline">I like to make coffee and things on the internet</span>
	<h1 class="name"><a href="http://twitter.com/goucherxo" target="_blank">Me Rambling</a></h1>
	<h1 class="name"><a href="http://instagram.com/joshuagoucher" target="_blank">Taking Photos</a></h1>
	<h1 class="name"><a href="http://facebook.com/goucherjoshua" target="_blank">
		liking cat photos
	</a></h1>
	<h1 class="name"><a href="http://beanist.co" target="_blank">
		and things that hopefully won't end up in the gutter
	</a></h1>

	

</div>