// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';



.name {
	font-family: 'bebas_neueregular';
	text-transform: uppercase;
	font-size: 106px;
}

.tagline {
	font-family: 'Acme', sans-serif;
	font-size: 18px;
}

.project-link {
	font-family: 'bebas_neueregular';
	text-transform: uppercase;
	font-size: 106px;
}
